In [2]:
import json
import os
import pandas as pd
from collections import defaultdict
# from collections import Counter

In [3]:
os.chdir('/mnt/data/hong/courses/varianceAnalysis/')

In [4]:
uniprot = open("data/ADA_uniprot.json", "r")
uniprot = json.load(uniprot)

In [5]:
## json to dataframe

uniprot_features = uniprot['features']

In [5]:
id_dict = defaultdict(str)
for var in uniprot_features:
    for xref in var['xrefs']:
        id_dict[xref['id']] = var['consequenceType']

In [47]:
# Counter(id_dict.values())

Counter({'missense': 526,
         'stop gained': 28,
         '-': 5,
         'frameshift': 33,
         'inframe deletion': 1,
         'stop lost': 2})

In [6]:
## dataframe for better table view
df = pd.DataFrame(list(id_dict.items()), columns=['id', 'consequenceType'])
df['consequenceType'].value_counts()

missense            526
frameshift           33
stop gained          28
-                     5
stop lost             2
inframe deletion      1
Name: consequenceType, dtype: int64

In [11]:
df_rs = df[df['id'].str.startswith('rs')]

In [12]:
df_rs.to_csv('data/ADA_variant_rs.csv', index=False)

In [7]:
df = defaultdict(list)
for var in uniprot_features:
    match 'xrefs' in var.keys():
        case True:
            df['id'].append(var['xrefs'][0]['id'])
        case False:
            df['id'].append("NA")
    match 'consequenceType' in var.keys():
        case True:
            df['consequenceType'].append(var['consequenceType'])
        case False:
            df['consequenceType'].append("NA")
    match 'populationFrequencies' in var.keys():
          ## case 'populationFrequencies'
        case True :
            df['MAF'].append(var['populationFrequencies'][0]['frequency'])
        case False:
            df['MAF'].append("NA")
    match 'clinicalSignificances' in var.keys():
        case True:
            df['clinicalSignificances'].append(var['clinicalSignificances'][0]['type'])
        case False:
            df['clinicalSignificances'].append("NA")

In [15]:
## df to dataframe and write to tsv
df_df = pd.DataFrame.from_dict(df, orient='columns')
df_rs = df_df[df_df['id'].str.startswith('rs')]
df_rs.to_csv('data/ADA_variant_clinic.tsv', sep='\t', index=False)

In [14]:
df_rs

               id consequenceType      MAF clinicalSignificances
0    rs1319968268        missense       NA                    NA
2    rs1464312281        missense       NA                    NA
3     rs956908942        missense       NA                    NA
4     rs956908942        missense       NA                    NA
5      rs73598374        missense  0.05132            Pathogenic
..            ...             ...      ...                   ...
378  rs1313508972        missense       NA                    NA
379   rs749295575        missense       NA                    NA
380  rs1170608999        missense       NA                    NA
381  rs1568841793        missense       NA                    NA
383  rs1317855210        missense       NA                    NA

[231 rows x 4 columns]